package {{ data.groupId }};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class {{data.name}}Application {

	public static void main(String[] args) {
		SpringApplication.run({{data.name}}Application.class, args);
	}

}
