package {{ data.groupId }};

import org.junit.jupiter.api.Test;
import org.springframework.boot.test.context.SpringBootTest;

@SpringBootTest
class {{ data.name }}ApplicationTests {

	@Test
	void contextLoads() {
	}

}
