package {{ data.package }};


public class {{ data.name }} extends Exception {

    public {{ data.name }}(String message) 
    {
        super(message);
    }
    public {{ data.name }}(Throwable throwable)
    {
        super(throwable);
    }

}